.header {
    grid-area: header;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 0 0 15px 15px;
  }
  
.header_logo {
    float: left;
    margin: 5px 10px;
}

.header_logo img {
    width: 32px;
}

.header_search {
    float: right;
}