.friends {
    margin: 20px;
}

.item {
    border: 3px solid rgb(220, 218, 218);
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.item .name {
    margin: auto 10px auto 0;
    color: #444;
    font-weight: 400;
}

.item img {
    margin: auto 0;
    padding: 0;
    width: 50px;
    border-radius: 50%;
}

.follow {
    margin: auto 0;
}

.follow button {
    padding: 4px;
    width: 71px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.follow button:hover {
    background-color: #444;
    cursor: pointer;
    color: white;
}